.about-profile-img {
    border-radius: 4px;
    width: 250px;
    height: 270px;
}

.text-info h1 {
    font-size: 32px;
    color: var(--color-main-text) !important;
}

.text-info h5 {
    color: var(--color-subtext) !important;
    margin-bottom: 1rem;
}