.animated {
	animation-duration: 2s;
	animation-fill-mode: both;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: both;
}

.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	white-space: nowrap; /* Keeps the content on a single line */
	letter-spacing: .1em; /* Adjust as needed */
	border-right: 0.15em solid;
	animation: 
		typing 1.5s steps(16, end),
		blink-caret .7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
0% { 
	width: 0;
}
100% { 
	width: 100%;
	border: 0 solid;
}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: white }
}

.delay-1 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

.delay-2 {
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}

.delay-3 {
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
}

.delay-4 {
	animation-delay: 4s;
	-webkit-animation-delay: 4s;
}

.delay-5 {
	animation-delay: 5s;
	-webkit-animation-delay: 5s;
}

.delay-6 {
	animation-delay: 6s;
	-webkit-animation-delay: 6s;
}

.delay-7 {
	animation-delay: 7s;
	-webkit-animation-delay: 7s;
}

.delay-8 {
	animation-delay: 8s;
	-webkit-animation-delay: 8s;
}

@keyframes fade-in {
100% {
	opacity: 1;
}
0% {
	opacity: 0;
}
}

@-webkit-keyframes fade-in {
100% {
	opacity: 1;
}
0% {
	opacity: 0;
}
}

.fade-in {
	-webkit-animation-name: fade-in;
	animation-name: fade-in;
}

@keyframes fade-in-right {
100% {
	opacity: 1;
	transform: translateX(0);
}
0% {
	opacity: 0;
	transform: translateX(75px);
}
}

@-webkit-keyframes fade-in-right {
100% {
	opacity: 1;
	-webkit-transform: translateX(0);
}
0% {
	opacity: 0;
	-webkit-transform: translateX(75px);
}
}
.fade-in-right {
	-webkit-animation-name: fade-in-right;
	animation-name: fade-in-right;
}

@keyframes fade-in-left {
100% {
	opacity: 1;
	transform: translateX(0);
}
0% {
	opacity: 0;
	transform: translateX(75px);
}
}

@-webkit-keyframes fade-in-left {
100% {
	opacity: 1;
	-webkit-transform: translateX(0);
}
0% {
	opacity: 0;
	-webkit-transform: translateX(75px);
}
}

.fade-in-left {
	-webkit-animation-name: fade-in-left;
	animation-name: fade-in-left;
}
