.round-floating-nav {
    border-radius: 0 50px 50px 0;
    padding: 0;
}

.nav-profile-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.navbar-nav {
    width: fit-content;
    justify-content: space-around;
}

.nav-item {
    width: fit-content;
}

.nav-link {
    font-family: var(--font-family);
    color: var(--color-nav-text) !important;
    font-weight: 400px;
    white-space: nowrap;
}

.nav-link:hover {
    color: var(--color-hover-text) !important;
    transform: scale(1.2);
    border-bottom: 1px solid #fff;
}

.navbar-toggler:focus,
.navbar-toggler-icon:hover {
    color: var(--color-hover-text) !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:active {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Click off closes navbar */
.navbar {
    background: rgb(154, 165, 182);
    background: linear-gradient(130deg, rgba(154, 165, 182, 1) 0%, rgba(142, 163, 233, 1) 27%);
    max-width: 130px;
    transition: max-width 0.25s ease-out;
    z-index: 2;
}

.close-navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.close-navbar-toggler.collapsed {
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .navbar {

        background: rgb(117, 129, 148);
        background: linear-gradient(130deg, rgba(117, 129, 148, 1) 29%, rgba(142, 163, 233, 1) 100%);
        max-width: 90%;
        transition: max-width 0.3s ease-in;

    }
}