.text-card {
    padding: 0 !important;
    width: fit-content !important;
    height: 35px;
}

.text {
    padding: 1px !important;
    font-size: 14px;
    line-height: 16px;
    width: fit-content;
    margin: 0 !important;
}