@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --oval-image: url('./assets/oval-pano.png');
  --color-bg-dark: #aaa;
  --color-bg-accent: #edf4ff;
  --color-bg-footer: #031B34;

  --color-text: #eee;
  --color-nav-text: #eee;
  --color-main-text: #81AFDD;
  --color-hover-text: #000;
  --color-subtext: #FF8A71;
}